/* Initialize */
/* Initialize */
/* Initialize */
/* Initialize */
/*! HiDPI v1 | MIT License | git.io/hidpi */
/* line 7, ../scss/components/_results_list.scss */
ul.results-list {
  margin-bottom: 0;
  padding: 0;
  border-top: 2px solid rgba(200, 200, 200, 0.5);
  list-style: none;
}
/* line 12, ../scss/components/_results_list.scss */
ul.results-list .highlighted {
  background: rgba(200, 200, 200, 0.5);
}
/* line 15, ../scss/components/_results_list.scss */
ul.results-list li {
  min-height: 46px;
  border-bottom: 2px solid rgba(200, 200, 200, 0.5);
  color: rgba(40, 40, 40, 0.8);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}
/* line 22, ../scss/components/_results_list.scss */
ul.results-list li .highlighted {
  background-color: red;
}
/* line 25, ../scss/components/_results_list.scss */
ul.results-list li p {
  margin-bottom: 0px;
}
/* line 28, ../scss/components/_results_list.scss */
ul.results-list li > label, ul.results-list li > a, ul.results-list li > h3, ul.results-list li > p {
  padding: 10px 8px;
}
/* line 31, ../scss/components/_results_list.scss */
ul.results-list li > label, ul.results-list li > a {
  display: block;
  margin: 0;
  height: 100%;
  color: rgba(40, 40, 40, 0.8);
}
/* line 39, ../scss/components/_results_list.scss */
ul.results-list li .subtext {
  display: block;
  margin: 0;
  font-size: 0.9em;
}
/* line 44, ../scss/components/_results_list.scss */
ul.results-list li .meta-info {
  margin: 3px 0 0 5px;
  padding: 0;
  font-weight: 200;
  font-size: 0.8em;
  line-height: 0.8emconvert-to-em(5px);
}
/* line 52, ../scss/components/_results_list.scss */
ul.results-list li .meta-info-title {
  font-weight: 800;
  font-size: inherit;
}
/* line 57, ../scss/components/_results_list.scss */
ul.results-list li * {
  font-family: Helvetica, Verdana, sans-serif;
}
/* line 61, ../scss/components/_results_list.scss */
ul.results-list li h3 {
  margin: 0;
  padding: 0;
  color: #444;
  font-weight: normal;
  font-size: 1.2em;
}

/* Initialize */
/* Content is a container for two child divs
    .content-browse which typically contains a scrolling list container
    .content-map which holds map (#map)
*/
/* line 7, ../scss/components/_maplayout.scss */
#content {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}
/* line 17, ../scss/components/_maplayout.scss */
#content .content-browse {
  right: auto;
  overflow-y: scroll;
  padding: 0px 0px;
  height: 100%;
  background: #fafafa;
  -webkit-overflow-scrolling: touch;
}
/* line 26, ../scss/components/_maplayout.scss */
#content .map-browse-layout {
  height: 100%;
}
/* line 28, ../scss/components/_maplayout.scss */
#content .map-browse-layout .content-detail {
  display: none;
}
/* line 33, ../scss/components/_maplayout.scss */
#content .btn-toggle-browse {
  background: #fafafa;
  display: inline-block;
  z-index: 10001;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
}
/* line 44, ../scss/components/_maplayout.scss */
#content .btn-toggle-location {
  background: #fafafa;
  display: inline-block;
  z-index: 10001;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 30px;
  height: 30px;
}
/* line 57, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-browse .content-browse, #content .map-browse-layout.with-browse .btn-toggle-location, #content .map-browse-layout.with-browse .btn-toggle-browse {
  left: 30%;
}
@media only screen and (max-width: 768px) {
  /* line 57, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-browse .content-browse, #content .map-browse-layout.with-browse .btn-toggle-location, #content .map-browse-layout.with-browse .btn-toggle-browse {
    left: 85%;
  }
}
/* line 63, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-browse .content-main {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  /* line 63, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-browse .content-main {
    width: 15%;
  }
}
/* line 71, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-detail .btn-toggle-location {
  bottom: 40%;
}
@media only screen and (max-width: 768px) {
  /* line 71, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-detail .btn-toggle-location {
    top: 110px;
    bottom: auto;
  }
}
/* line 78, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-detail .content-map {
  height: 60%;
}
@media only screen and (max-width: 768px) {
  /* line 78, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-detail .content-map {
    float: none;
    width: 100%;
    height: 140px;
  }
}
/* line 86, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-detail .content-detail {
  display: block;
  height: 40%;
  overflow-y: scroll;
}
@media only screen and (max-width: 768px) {
  /* line 86, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-detail .content-detail {
    height: auto;
  }
}
/* line 97, ../scss/components/_maplayout.scss */
#content .content-map {
  height: 100%;
}
/* line 101, ../scss/components/_maplayout.scss */
#content .content-main {
  float: right;
  padding: 0px 0px;
  width: 100%;
  height: 100%;
}
/* line 107, ../scss/components/_maplayout.scss */
#content #map {
  width: 100% !important;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  /* line 111, ../scss/components/_maplayout.scss */
  #content #map .leaflet-control-zoom {
    display: none;
  }
}
/* line 116, ../scss/components/_maplayout.scss */
#content .search-input {
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 10px;
}
/* line 122, ../scss/components/_maplayout.scss */
#content .search-input span.deleteicon {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  padding: 4px 4px 2px 4px;
  background: #ccc;
  color: #fff;
  font-size: 9px;
  line-height: 9px;
  cursor: pointer;
}

/* line 138, ../scss/components/_maplayout.scss */
.list-map, .detail-map, .generic {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
/* line 141, ../scss/components/_maplayout.scss */
.list-map ul.facet-list, .detail-map ul.facet-list, .generic ul.facet-list {
  padding-left: 5px;
}
/* line 144, ../scss/components/_maplayout.scss */
.list-map > h3, .detail-map > h3, .generic > h3 {
  padding-left: 5px;
}

/* line 11, ../scss/app.scss */
html, body {
  height: 100%;
}

/* line 12, ../scss/app.scss */
body {
  overflow-x: hidden;
  width: 100%;
  background: #fafafa;
}
