/* Initialize */
/* Initialize */
/* Initialize */
/* Initialize */
/*! HiDPI v1 | MIT License | git.io/hidpi */
/* line 11, ../scss/components/_results_list.scss */
.search-input {
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 10px;
  text-align: center;
}
/* line 16, ../scss/components/_results_list.scss */
.search-input input[type="text"] {
  width: 60%;
  padding: 0;
  padding-left: 10px;
  border: 1px solid #aaaaaa;
  border-right: none;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #fff;
  line-height: 26px;
  height: 26px;
}
/* line 28, ../scss/components/_results_list.scss */
.search-input input[type="submit"] {
  line-height: 26px;
  height: 28px;
  width: 30%;
  border: none;
  border-top: 1px solid #4891dc;
  border-bottom: 1px solid #4891dc;
  border-left: 1px solid #aaaaaa;
  color: #fafafa;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #4891dc;
  z-index: 2;
  padding: 0;
  margin-left: -5px;
}

/* line 47, ../scss/components/_results_list.scss */
.content-browse ul.results-list {
  padding-bottom: 35px;
}

/* line 52, ../scss/components/_results_list.scss */
ul.results-list {
  margin: 0;
  padding: 0 0 1em 0;
  list-style: none;
}
/* line 56, ../scss/components/_results_list.scss */
ul.results-list li {
  margin: 0 12px;
  padding: 1em 12px;
  font-size: 0.95em;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  color: rgba(40, 40, 40, 0.8);
}
/* line 60, ../scss/components/_results_list.scss */
ul.results-list li.highlighted {
  margin: 0;
  padding: 1em 24px;
  background-color: #4891dc;
  color: #fafafa;
}
/* line 65, ../scss/components/_results_list.scss */
ul.results-list li.highlighted a {
  color: #fafafa;
}
/* line 70, ../scss/components/_results_list.scss */
ul.results-list li a {
  text-decoration: none;
  color: #4891dc;
  line-height: 1.5em;
}
/* line 75, ../scss/components/_results_list.scss */
ul.results-list li input {
  margin-right: 5px;
}
/* line 78, ../scss/components/_results_list.scss */
ul.results-list li h3 {
  margin: 0px;
  font-weight: normal;
}
/* line 84, ../scss/components/_results_list.scss */
ul.results-list li p {
  margin: 0 0 0.2em 0;
}
/* line 87, ../scss/components/_results_list.scss */
ul.results-list li > label, ul.results-list li > a {
  display: block;
  margin: 0;
  height: 100%;
  color: rgba(40, 40, 40, 0.8);
}
/* line 95, ../scss/components/_results_list.scss */
ul.results-list li .subtext {
  display: block;
  margin: 0;
  font-size: 0.9em;
}
/* line 100, ../scss/components/_results_list.scss */
ul.results-list li .meta-info {
  margin: 3px 0 0 5px;
  padding: 0;
  font-weight: 200;
  font-size: 0.9em;
  line-height: 0.9emconvert-to-em(5px);
}
/* line 108, ../scss/components/_results_list.scss */
ul.results-list li .meta-info-title {
  font-weight: 800;
  font-size: inherit;
}
/* line 113, ../scss/components/_results_list.scss */
ul.results-list li * {
  font-family: Helvetica, Verdana, sans-serif;
}
/* line 116, ../scss/components/_results_list.scss */
ul.results-list li .distance {
  font-size: 0.8em;
  line-height: 2em;
  float: right;
  margin-left: 0.5em;
}

/* Initialize */
/* Initialize */
/* Content is a container for two child divs
    .content-browse-wrapper which typically contains a scrolling list container
    .content-map which holds map (#map)

    NOTE: Z-Indexes are used in this CSS. We start our indexes at 1001 as this
    is greater than any z-index found in leaflet CSS which we need to overlay.
*/
/* line 13, ../scss/components/_maplayout.scss */
#content {
  overflow-x: hidden;
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}
/* line 24, ../scss/components/_maplayout.scss */
#content .content-browse-wrapper {
  position: relative;
  padding: 0px 0px;
  height: 100%;
  width: 0;
}
/* line 31, ../scss/components/_maplayout.scss */
#content .content-browse {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  display: none;
}
/* line 37, ../scss/components/_maplayout.scss */
#content .content-browse img.preloader {
  display: block;
  margin: 0 auto;
}
/* line 42, ../scss/components/_maplayout.scss */
#content .content-browse .messages {
  background-color: #eee;
}
/* line 44, ../scss/components/_maplayout.scss */
#content .content-browse .messages .message {
  padding: 5px;
  font-size: 0.8em;
  border-bottom: 1px solid #aaaaaa;
}
/* line 48, ../scss/components/_maplayout.scss */
#content .content-browse .messages .message img.preloader {
  height: 0.8em;
  display: inline;
  margin: 0;
}
/* line 53, ../scss/components/_maplayout.scss */
#content .content-browse .messages .message.alert {
  color: #b94a48;
}
/* line 60, ../scss/components/_maplayout.scss */
#content .map-browse-layout {
  height: 100%;
}
/* line 62, ../scss/components/_maplayout.scss */
#content .map-browse-layout .content-detail-wrapper {
  background: #fafafa;
  display: none;
}
/* line 68, ../scss/components/_maplayout.scss */
#content .additional-toggles {
  position: absolute;
  display: none;
  bottom: 0;
  padding: 0;
  text-align: center;
  background: #fafafa;
  border-top: 1px solid #aaaaaa;
}
/* line 76, ../scss/components/_maplayout.scss */
#content .additional-toggles ul {
  padding: 0;
  margin: -4px 0px 0px;
}
/* line 81, ../scss/components/_maplayout.scss */
#content .additional-toggles ul li {
  background-position: 0px 3px;
  background-repeat: no-repeat;
  height: 35px;
  display: inline-block;
  list-style: none;
  min-width: 40px;
}
/* line 92, ../scss/components/_maplayout.scss */
#content .btn-toggle-browse, #content .btn-toggle-detail, #content .btn-toggle-location {
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  background: #fafafa;
  z-index: 1001;
  width: 38px;
  height: 35px;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  text-align: center;
  font-size: 1.6em;
  color: #444444;
}
/* line 107, ../scss/components/_maplayout.scss */
#content .btn-toggle-browse {
  z-index: 1003;
}
/* line 110, ../scss/components/_maplayout.scss */
#content .btn-toggle-browse span {
  margin-top: 4px;
}
/* line 115, ../scss/components/_maplayout.scss */
#content .btn-toggle-location {
  color: #aaaaaa;
  bottom: 0;
  border-top: 1px solid #aaaaaa;
  border-bottom: none;
}
/* line 116, ../scss/components/_maplayout.scss */
#content .btn-toggle-location.active {
  color: #f5cf47;
}
/* line 125, ../scss/components/_maplayout.scss */
#content .btn-toggle-detail {
  display: none;
  bottom: -1px;
  left: 50%;
  /* TODO: These calcs are hardcoded to $map-controls-size/2 because SASS doesn't seem to evaluate in calc calls */
  left: -webkit-calc(50% - 19px);
  /* WebKit 536.3 (Chrome 19) and above, experimental */
  left: calc(50% - 19px);
  /* final CSS3 compliant implementation; Firefox 16 and IE 9, and above */
  border-bottom: none;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  height: 27px;
  line-height: 10px;
}
/* line 142, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-detail .btn-toggle-detail, #content .map-browse-layout.detail-hidden .btn-toggle-detail {
  display: inline-block;
}
/* line 147, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-browse .btn-toggle-browse {
  color: #aaaaaa;
}
/* line 150, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-browse .btn-toggle-location, #content .map-browse-layout.with-browse .btn-toggle-browse {
  left: 100%;
}
/* line 153, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-browse .additional-toggles {
  width: 100%;
  display: inline-block;
}
/* line 157, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-browse .content-browse-wrapper {
  border-right: 1px solid #aaaaaa;
  width: 30%;
}
@media only screen and (max-width: 767px) {
  /* line 157, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-browse .content-browse-wrapper {
    width: 85%;
  }
}
/* line 164, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-browse .content-browse {
  display: block;
}
/* line 167, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-browse .content-main {
  width: 70%;
}
@media only screen and (max-width: 767px) {
  /* line 170, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-browse .overlay, #content .map-browse-layout.with-browse .content-main {
    position: absolute;
    width: 100%;
    left: 85%;
    overflow: hidden;
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 179, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-browse .overlay {
    z-index: 1002;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline;
    position: fixed;
  }
}
/* line 189, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-detail #map {
  border-bottom: 1px solid #aaaaaa;
}
/* line 192, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-detail .btn-toggle-location {
  bottom: 40%;
}
@media only screen and (max-width: 767px) {
  /* line 192, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-detail .btn-toggle-location {
    top: 104px;
    bottom: auto;
  }
}
/* line 199, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-detail .content-map {
  height: 60%;
}
@media only screen and (max-width: 767px) {
  /* line 199, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-detail .content-map {
    float: none;
    width: 100%;
    height: 140px;
  }
}
/* line 207, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-detail .content-detail-wrapper {
  display: block;
  height: 40%;
  overflow-y: auto;
}
@media only screen and (max-width: 767px) {
  /* line 207, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-detail .content-detail-wrapper {
    height: auto;
  }
}
/* line 218, ../scss/components/_maplayout.scss */
#content .content-map {
  position: relative;
  height: 100%;
}
/* line 223, ../scss/components/_maplayout.scss */
#content .content-main {
  float: right;
  padding: 0px 0px;
  width: 100%;
  height: 100%;
}
/* line 229, ../scss/components/_maplayout.scss */
#content #map {
  width: 100% !important;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  /* line 233, ../scss/components/_maplayout.scss */
  #content #map .leaflet-control-zoom {
    display: none;
  }
}
/* line 239, ../scss/components/_maplayout.scss */
#content .search-input span.deleteicon {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  padding: 4px 4px 2px 4px;
  background: #ccc;
  color: #fff;
  font-size: 9px;
  line-height: 9px;
  cursor: pointer;
}

/* line 255, ../scss/components/_maplayout.scss */
.list-map, .detail-map, .generic {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
/* line 258, ../scss/components/_maplayout.scss */
.list-map ul.facet-list, .detail-map ul.facet-list, .generic ul.facet-list {
  padding-left: 5px;
}
/* line 261, ../scss/components/_maplayout.scss */
.list-map > h3, .detail-map > h3, .generic > h3 {
  padding-left: 5px;
}

/* line 266, ../scss/components/_maplayout.scss */
.numbered-marker {
  width: 30px;
  height: 30px;
  background-color: #000;
  background-clip: padding-box;
  border-radius: 20px;
  display: inline-block;
}
/* line 44, ../scss/globals/mixins.scss */
.numbered-marker div {
  background-color: #fff;
  width: 26px;
  height: 26px;
  margin-left: 2px;
  margin-top: 2px;
  text-align: center;
  border-radius: 13px;
  font: 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 55, ../scss/globals/mixins.scss */
.numbered-marker span {
  line-height: 26px;
}

/* line 270, ../scss/components/_maplayout.scss */
.detail-numbered-marker {
  margin-left: 8px;
  width: 24px;
  height: 24px;
  background-color: #000;
  background-clip: padding-box;
  border-radius: 20px;
  display: inline-block;
}
/* line 44, ../scss/globals/mixins.scss */
.detail-numbered-marker div {
  background-color: #fff;
  width: 22px;
  height: 22px;
  margin-left: 1px;
  margin-top: 1px;
  text-align: center;
  border-radius: 11px;
  font: 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 55, ../scss/globals/mixins.scss */
.detail-numbered-marker span {
  line-height: 22px;
}

/* line 275, ../scss/components/_maplayout.scss */
.social-links a {
  font-size: 1.7em;
  letter-spacing: 0.2em;
}

/* line 283, ../scss/components/_maplayout.scss */
dl.poi-children dd {
  line-height: 1.7em;
}

/* line 286, ../scss/components/_maplayout.scss */
dl.poi-children dd a {
  margin-left: 38px;
}

/* line 291, ../scss/components/_maplayout.scss */
dl.poi-children dd > div + a {
  margin-left: 6px;
}

/* Initialize */
/* line 4, ../scss/components/_places_detail.scss */
.content-detail {
  padding: 12px;
}
/* line 6, ../scss/components/_places_detail.scss */
.content-detail h2 {
  margin: 0 0 12px 0;
  font-weight: normal;
}
/* line 10, ../scss/components/_places_detail.scss */
.content-detail dl dd {
  margin-left: 0;
}
/* line 13, ../scss/components/_places_detail.scss */
.content-detail dl dt {
  margin: 0.4em 0;
}
/* line 16, ../scss/components/_places_detail.scss */
.content-detail .preloader {
  display: block;
  margin: 10px auto 0 auto;
}
/* line 21, ../scss/components/_places_detail.scss */
.content-detail .poi-details-text {
  width: 50%;
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;
}
/* line 26, ../scss/components/_places_detail.scss */
.content-detail .poi-details-text.no-depiction {
  width: auto;
  display: block;
  padding-left: 0;
}
@media only screen and (max-width: 767px) {
  /* line 21, ../scss/components/_places_detail.scss */
  .content-detail .poi-details-text {
    width: 100%;
    display: block;
    padding-left: 0;
  }
}
/* line 36, ../scss/components/_places_detail.scss */
.content-detail .poi-details-text .alternative-names {
  font-size: 0.8em;
}
/* line 41, ../scss/components/_places_detail.scss */
.content-detail .poi-details-depiction {
  width: 40%;
  display: inline-block;
}
/* line 44, ../scss/components/_places_detail.scss */
.content-detail .poi-details-depiction .depiction-wrapper {
  background-color: #eee;
  border: 1px solid #aaaaaa;
  padding: 12px;
}
/* line 48, ../scss/components/_places_detail.scss */
.content-detail .poi-details-depiction .depiction-wrapper img {
  display: block;
  margin: 0 auto 0 auto;
  max-width: 100%;
}
@media only screen and (max-width: 767px) {
  /* line 41, ../scss/components/_places_detail.scss */
  .content-detail .poi-details-depiction {
    width: 100%;
    float: none;
    display: block;
  }
}

/* line 17, ../scss/app.scss */
html, body {
  height: 100%;
}

/* line 18, ../scss/app.scss */
body {
  overflow-x: hidden;
  width: 100%;
  background: #fafafa;
}

/* line 23, ../scss/app.scss */
#top-bar {
  height: 35px;
  border-bottom: 1px solid #aaaaaa;
  background-color: #002147;
}
/* line 24, ../scss/app.scss */
#top-bar h1 {
  margin: 0;
  margin-left: 1.1em;
  line-height: 2em;
  font-size: 1.2em;
  font-weight: 500;
}
/* line 31, ../scss/app.scss */
#top-bar h1 a {
  color: #fafafa;
}

/* line 38, ../scss/app.scss */
a {
  color: #4891dc;
  text-decoration: none;
}

/* line 42, ../scss/app.scss */
.map-options {
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0;
  border-bottom: 1px solid #aaaaaa;
  text-align: center;
}
/* line 43, ../scss/app.scss */
.map-options.something-highlighted {
  border-bottom: none;
}
/* line 51, ../scss/app.scss */
.map-options span {
  display: inline-block;
  padding: 5px;
  min-width: 65px;
  border-left: 1px solid #aaaaaa;
  font-size: 0.95em;
  line-height: 1.5em;
  color: #002147;
}
/* line 60, ../scss/app.scss */
.map-options span.filter {
  color: #aaaaaa;
}
/* line 63, ../scss/app.scss */
.map-options span:first-child {
  border-left: none;
}

/* line 68, ../scss/app.scss */
.highlighted {
  margin: 0;
  padding: 1em 12px;
  background-color: #4891dc;
  color: #fafafa;
}
/* line 73, ../scss/app.scss */
.highlighted a {
  color: #fafafa;
}

/* line 79, ../scss/app.scss */
.hide-filters {
  display: none;
}

/* line 83, ../scss/app.scss */
.filters {
  padding: 8px 8px 6px;
  background-color: #4891dc;
  color: #fafafa;
}
/* line 88, ../scss/app.scss */
.filters.single-facet-list .facets {
  width: 100%;
}
/* line 92, ../scss/app.scss */
.filters .facets {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
/* line 97, ../scss/app.scss */
.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 101, ../scss/app.scss */
.filters ul li {
  margin: 5px 0;
}
/* line 105, ../scss/app.scss */
.filters label {
  display: block;
  padding-left: 16px;
  text-indent: -16px;
  font-size: 0.9em;
}
/* line 111, ../scss/app.scss */
.filters input {
  position: relative;
  top: -1px;
  margin: 0 2px 0 0;
  padding: 0;
  width: 13px;
  height: 13px;
  vertical-align: middle;
}
/* line 120, ../scss/app.scss */
.filters h3 {
  margin: 0 0 3px;
  font-weight: normal;
  font-size: 0.95em;
}

/* line 126, ../scss/app.scss */
a.action-button {
  text-decoration: none;
}

/* line 129, ../scss/app.scss */
.action-button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(#fafafa, #dfdfdf);
  background: -moz-linear-gradient(#fafafa, #dfdfdf);
  background: -o-linear-gradient(#fafafa, #dfdfdf);
  background: linear-gradient(#fafafa, #dfdfdf);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 9px 10px 10px 10px;
  display: inline-block;
  color: #333;
  font-weight: 500;
  margin: 5px 5px 5px 0;
}
/* line 141, ../scss/app.scss */
.action-button.social {
  background: #5f9baf;
  color: #fafafa;
  padding: 6px 7px 7px 7px;
}
