/* Initialize */
/* Initialize */
/* Initialize */
/* Initialize */
/*! HiDPI v1 | MIT License | git.io/hidpi */
/* line 10, ../scss/components/_results_list.scss */
.search-input {
  text-align: center;
}
/* line 12, ../scss/components/_results_list.scss */
.search-input input {
  width: 85%;
  padding-left: 10px;
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px / 8px;
  border-radius: 8px / 8px;
  background-color: #fff;
  height: 1.5em;
}

/* line 23, ../scss/components/_results_list.scss */
.content-browse ul.results-list {
  margin-bottom: 0px;
  padding-bottom: 35px;
}

/* line 29, ../scss/components/_results_list.scss */
ul.results-list {
  margin-bottom: 0;
  padding: 0px 12px;
  list-style: none;
}
/* line 33, ../scss/components/_results_list.scss */
ul.results-list .highlighted {
  background: rgba(200, 200, 200, 0.5);
}
/* line 36, ../scss/components/_results_list.scss */
ul.results-list li {
  min-height: 43px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  color: rgba(40, 40, 40, 0.8);
}
/* line 38, ../scss/components/_results_list.scss */
ul.results-list li a {
  text-decoration: none;
  color: #4891dc;
  line-height: 1.5em;
  font-size: 1em;
}
/* line 44, ../scss/components/_results_list.scss */
ul.results-list li h3 {
  margin-left: 5px;
  font-weight: normal;
}
/* line 51, ../scss/components/_results_list.scss */
ul.results-list li .highlighted {
  background-color: red;
}
/* line 54, ../scss/components/_results_list.scss */
ul.results-list li p {
  margin-bottom: 0px;
}
/* line 57, ../scss/components/_results_list.scss */
ul.results-list li > label, ul.results-list li > a {
  display: block;
  margin: 0;
  height: 100%;
  color: rgba(40, 40, 40, 0.8);
}
/* line 65, ../scss/components/_results_list.scss */
ul.results-list li .subtext {
  display: block;
  margin: 0;
  font-size: 0.9em;
}
/* line 70, ../scss/components/_results_list.scss */
ul.results-list li .meta-info {
  margin: 3px 0 0 5px;
  padding: 0;
  font-weight: 200;
  font-size: 0.8em;
  line-height: 0.8emconvert-to-em(5px);
}
/* line 78, ../scss/components/_results_list.scss */
ul.results-list li .meta-info-title {
  font-weight: 800;
  font-size: inherit;
}
/* line 83, ../scss/components/_results_list.scss */
ul.results-list li * {
  font-family: Helvetica, Verdana, sans-serif;
}

/* Initialize */
/* Content is a container for two child divs
    .content-browse-wrapper which typically contains a scrolling list container
    .content-map which holds map (#map)
*/
/* line 9, ../scss/components/_maplayout.scss */
#content {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}
/* line 19, ../scss/components/_maplayout.scss */
#content .content-browse-wrapper {
  position: relative;
  padding: 0px 0px;
  height: 100%;
  width: 0;
  border-right: 1px solid #aaaaaa;
}
/* line 27, ../scss/components/_maplayout.scss */
#content .content-browse {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
}
/* line 34, ../scss/components/_maplayout.scss */
#content .map-browse-layout {
  height: 100%;
}
/* line 36, ../scss/components/_maplayout.scss */
#content .map-browse-layout .content-detail-wrapper {
  display: none;
}
/* line 41, ../scss/components/_maplayout.scss */
#content .additional-toggles {
  position: absolute;
  display: none;
  bottom: 0;
  padding: 0;
  text-align: center;
  background: #fafafa;
  border-top: 1px solid #aaaaaa;
}
/* line 49, ../scss/components/_maplayout.scss */
#content .additional-toggles ul {
  padding: 0;
  margin: -4px 0px 0px;
}
/* line 54, ../scss/components/_maplayout.scss */
#content .additional-toggles ul li {
  background-repeat: no-repeat;
  height: 35px;
  display: inline-block;
  list-style: none;
  min-width: 40px;
}
/* line 62, ../scss/components/_maplayout.scss */
#content .additional-toggles .btn-toggle-public-transport {
  background-image: url("../maki/renders/bus-18@2x.png");
}
/* line 65, ../scss/components/_maplayout.scss */
#content .additional-toggles .btn-toggle-driving {
  background-image: url("../maki/renders/car-18@2x.png");
}
/* line 68, ../scss/components/_maplayout.scss */
#content .additional-toggles .btn-toggle-cycling {
  background-image: url("../maki/renders/bicycle-18@2x.png");
}
/* line 73, ../scss/components/_maplayout.scss */
#content .btn-toggle-browse, #content .btn-toggle-location {
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  background: #fafafa;
  z-index: 10001;
  width: 35px;
  height: 35px;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  text-align: center;
  font-size: 1.2em;
  color: #444444;
}
/* line 88, ../scss/components/_maplayout.scss */
#content .btn-toggle-location {
  color: #aaaaaa;
  bottom: 0;
  border-top: 1px solid #aaaaaa;
  border-bottom: none;
}
/* line 89, ../scss/components/_maplayout.scss */
#content .btn-toggle-location.active {
  color: #f5cf47;
}
/* line 100, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-browse .btn-toggle-browse {
  color: #aaaaaa;
}
/* line 103, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-browse .btn-toggle-location, #content .map-browse-layout.with-browse .btn-toggle-browse {
  left: 100%;
}
/* line 106, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-browse .additional-toggles {
  width: 100%;
  display: inline-block;
}
/* line 110, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-browse .content-browse-wrapper {
  width: 30%;
}
@media only screen and (max-width: 768px) {
  /* line 110, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-browse .content-browse-wrapper {
    width: 85%;
  }
}
/* line 116, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-browse .content-main {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  /* line 116, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-browse .content-main {
    position: absolute;
    width: 100%;
    left: 85%;
    overflow: hidden;
    height: 100%;
  }
}
/* line 128, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-detail .btn-toggle-location {
  bottom: 40%;
}
@media only screen and (max-width: 768px) {
  /* line 128, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-detail .btn-toggle-location {
    top: 105px;
    bottom: auto;
  }
}
/* line 135, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-detail .content-map {
  height: 60%;
}
@media only screen and (max-width: 768px) {
  /* line 135, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-detail .content-map {
    float: none;
    width: 100%;
    height: 140px;
  }
}
/* line 143, ../scss/components/_maplayout.scss */
#content .map-browse-layout.with-detail .content-detail-wrapper {
  display: block;
  height: 40%;
  overflow-y: scroll;
}
@media only screen and (max-width: 768px) {
  /* line 143, ../scss/components/_maplayout.scss */
  #content .map-browse-layout.with-detail .content-detail-wrapper {
    height: auto;
  }
}
/* line 154, ../scss/components/_maplayout.scss */
#content .content-map {
  height: 100%;
}
/* line 158, ../scss/components/_maplayout.scss */
#content .content-main {
  float: right;
  padding: 0px 0px;
  width: 100%;
  height: 100%;
}
/* line 164, ../scss/components/_maplayout.scss */
#content #map {
  width: 100% !important;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  /* line 168, ../scss/components/_maplayout.scss */
  #content #map .leaflet-control-zoom {
    display: none;
  }
}
/* line 173, ../scss/components/_maplayout.scss */
#content .search-input {
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 10px;
}
/* line 179, ../scss/components/_maplayout.scss */
#content .search-input span.deleteicon {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  padding: 4px 4px 2px 4px;
  background: #ccc;
  color: #fff;
  font-size: 9px;
  line-height: 9px;
  cursor: pointer;
}

/* line 195, ../scss/components/_maplayout.scss */
.list-map, .detail-map, .generic {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
/* line 198, ../scss/components/_maplayout.scss */
.list-map ul.facet-list, .detail-map ul.facet-list, .generic ul.facet-list {
  padding-left: 5px;
}
/* line 201, ../scss/components/_maplayout.scss */
.list-map > h3, .detail-map > h3, .generic > h3 {
  padding-left: 5px;
}

/* Initialize */
/* line 4, ../scss/components/_places_detail.scss */
.content-detail {
  border-top: 1px solid #aaaaaa;
  padding: 10px;
}
/* line 7, ../scss/components/_places_detail.scss */
.content-detail h2 {
  margin: 0 0 5px 0;
}
/* line 10, ../scss/components/_places_detail.scss */
.content-detail dl dd {
  margin-left: 15px;
}
/* line 13, ../scss/components/_places_detail.scss */
.content-detail .preloader {
  display: block;
  margin: 10px auto 0 auto;
}
/* line 18, ../scss/components/_places_detail.scss */
.content-detail .poi-details-text {
  width: 50%;
  float: left;
  display: inline;
  padding-left: 20px;
}
/* line 23, ../scss/components/_places_detail.scss */
.content-detail .poi-details-text.no-depiction {
  width: auto;
  float: none;
  display: block;
}
@media only screen and (max-width: 768px) {
  /* line 18, ../scss/components/_places_detail.scss */
  .content-detail .poi-details-text {
    float: none;
    display: block;
    width: 100%;
    padding-left: 0;
  }
}
/* line 36, ../scss/components/_places_detail.scss */
.content-detail .poi-details-depiction {
  width: 40%;
  float: left;
  display: inline;
}
/* line 40, ../scss/components/_places_detail.scss */
.content-detail .poi-details-depiction .depiction-wrapper {
  background-color: #eee;
  border: 1px solid #aaaaaa;
  padding: 20px;
}
/* line 44, ../scss/components/_places_detail.scss */
.content-detail .poi-details-depiction .depiction-wrapper img.depiction {
  display: block;
  margin: 0 auto 0 auto;
  max-width: 100%;
}
@media only screen and (max-width: 768px) {
  /* line 36, ../scss/components/_places_detail.scss */
  .content-detail .poi-details-depiction {
    width: 100%;
    float: none;
    display: block;
  }
}

/* line 12, ../scss/app.scss */
html, body {
  height: 100%;
}

/* line 13, ../scss/app.scss */
body {
  overflow-x: hidden;
  width: 100%;
  background: #fafafa;
}

/* line 18, ../scss/app.scss */
.map-options {
  padding: 0;
  text-align: center;
}
/* line 21, ../scss/app.scss */
.map-options ul {
  padding: 0;
  border-bottom: 1px solid #aaaaaa;
}
/* line 25, ../scss/app.scss */
.map-options a {
  text-decoration: none;
  color: #4891dc;
  line-height: 1.5em;
  font-size: 1em;
}
/* line 31, ../scss/app.scss */
.map-options li {
  display: inline-block;
  list-style: none;
  border-left: 1px solid #aaaaaa;
  padding: 5px;
  min-width: 90px;
}
/* line 38, ../scss/app.scss */
.map-options li:first-child {
  border-left: none;
}
