@import "compass/css3";

@import "globals/variables";
@import "globals/oxford-palette";
@import "globals/mixins";

// Our major components used throughout moxie
@import "components/results_list";
@import "components/maplayout";
@import "components/places_detail";

html, body { height: 100%; }
body {
    overflow-x: hidden;
    width: 100%;
    background: $body-background;
}
.map-options {
    &.something-highlighted {
        border-bottom: none;
    }
    margin-top: 1em;
    margin-bottom: 0;
    padding: 0;
    border-bottom: $map-pane-border;
    text-align: center;
    a {
        color: $pantone279;
        text-decoration: none;
    }
    span {
        display: inline-block;
        padding: 5px;
        min-width: 70px;
        border-left: $map-pane-border;
        font-size: 0.9em;
        line-height: 1.5em;
        color: $oxfordBlue;
    }
    span.filter {
            color: $map-toggle-inactive;
    }
    span:first-child {
        border-left: none;
    }
}

.highlighted {
    margin: 0;
    padding: 1em 12px;
    background-color: $pantone279;
    color: $body-background;
    a {
        color: $body-background;
    }
}

// Filtering results
.hide-filters {
    display: none;
}

.filters {
    padding: 8px 5px;
    background-color: $pantone279;
    color: $body-background;
    &.single-facet-list {
        .facets {
            width: 100%;
        }
    }
    .facets {
        display: inline-block;
        width: 49%;
        vertical-align: top;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 5px;
        }
    }
    label {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
    }
    input {
        position: relative;
        top: -1px;
        margin:0;
        padding: 0;
        width: 13px;
        height: 13px;
        vertical-align: middle;
    }
    h3 {
        margin: 0;
    }
}
