@import "globals/variables";

/* Content is a container for two child divs
    .content-browse which typically contains a scrolling list container
    .content-map which holds map (#map)
*/
#content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    // border-left: $grayBorder;
    // border-right: $grayBorder;

    .content-browse {
        right: auto;
        overflow-y: scroll;
        padding: 0px 0px;
        width: 30%;
        height: 100%;
        background: $body-background;
        -webkit-overflow-scrolling: touch;
        @media #{$smartphone} {
            position: static;
            overflow: visible;
            overflow-y: auto;
            width: 100%;
            height: auto;
        }
    }

    .map-browse-layout {
        &.with-detail {
            .content-map {
                height: 60%;
            }
            .content-detail {
                height: 40%;
            }
        }
        height: 100%;
    }

    .content-map {
        height: 100%;
    }

    .content-main {
        float: right;
        padding: 0px 0px;
        width: 70%;
        height: 100%;
        @media #{$smartphone} {
            float: none;
            width: 100%;
            height: $mapHeight;
        }
    }
    #map {
        width: 100% !important;
        height: 100%;
        @media #{$smartphone} {
            height: $mapHeight;
            &.full-screen {
                height: 100%;
            }
            .leaflet-control-zoom {
                display: none;
            }
        }
    }
    .search-input {
        position: relative;
        margin-right: 5px;
        margin-left: 5px;
        padding-top: 10px;

        span.deleteicon {
            @include border-radius(30px);
            position: absolute;
            top: 15px;
            right: 15px;
            display: block;
            padding: 4px 4px 2px 4px;
            background: #ccc;
            color: #fff;
            font-size: 9px;
            line-height: 9px;
            cursor: pointer;
        }
    }
}

.list-map, .detail-map, .generic {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    ul.facet-list {
        padding-left: 5px;
    }
    > h3 {
        padding-left: 5px;
    }
}
