@import "globals/variables";
@import "globals/mixins";
@import "globals/oxford-palette";

// hidpi media queries mixins for selecting higher res images
@import "hidpi";

$sidebar-item-base-font-size: 0.95em;
$meta-info-font-size: 0.9em;

.search-input {
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 10px;
    text-align: center;
    input[type="text"] {
        width: 60%;
        padding: 0;
        padding-left: 10px;
        border: $map-pane-border;
        border-right: none;
        @include border-top-left-radius(8px);
        @include border-bottom-left-radius(8px);
        background-color: #fff;
        line-height: 26px;
        height: 26px;
    }
    input[type="submit"] {
        line-height: 26px;
        height: 28px;
        width: 30%;
        border: none;
        border-top: 1px solid #4891dc;
        border-bottom: 1px solid #4891dc;
        border-left: $map-pane-border;
        color: #fafafa;
        @include border-top-right-radius(8px);
        @include border-bottom-right-radius(8px);
        background-color: #4891dc;
        z-index: 2;
        padding: 0;
        margin-left: -5px;
    }
}

.content-browse {
    ul.results-list {
        padding-bottom: $map-controls-size;
    }
}

ul.results-list {
    margin: 0;
    padding: 0 0 1em 0;
    list-style: none;
    li {
        margin: 0 $sidebar-item-indent;
        padding: 1em $sidebar-item-indent;
        font-size: $sidebar-item-base-font-size;
        &.highlighted {
            margin: 0;
            padding: 1em 2*$sidebar-item-indent;
            background-color: $pantone279;
            color: $body-background;
            a {
                color: $body-background;
            }
        }
        // Used to convey complex list items such as library search results
        a {
            text-decoration: none;
            color: $pantone279;
            line-height: 1.5em;
        }
        input {
            margin-right: 5px;
        }
        h3 {
            margin: 0px;
            font-weight: normal;
        }
        border-bottom: 1px solid $border-color;
        color: rgba(40, 40, 40, 0.8);
        p {
            margin: 0 0 0.2em 0;
        }
        > label, > a {
            display: block;
            margin: 0;
            height: 100%;
            color: rgba(40, 40, 40, 0.8);
        }

        // Used on list items to show the count in the proceeding category/group
        .subtext {
            display: block;
            margin: 0;
            font-size: 0.9em;
        }
        .meta-info {
            margin: 3px 0 0 5px;
            padding: 0;
            font-weight: 200;
            font-size: $meta-info-font-size;
            line-height: $meta-info-font-size + convert-to-em(5px);
        }

        .meta-info-title {
            font-weight: 800;
            font-size: inherit;

        }
        & * {
            font-family: Helvetica, Verdana, sans-serif;
        }
        .distance {
            font-size: 0.8em;
            line-height: 2em;
            float: right;
            margin-left: 0.5em;
        }
    }
}
