@import "globals/variables";
@import "globals/mixins";

// hidpi media queries mixins for selecting higher res images
@import "hidpi";

ul.results-list {
    margin-bottom: 0;
    padding: 0;
    border-top: 2px solid $border-color;
    list-style: none;
    .highlighted {
        background: $border-color;
    }
    li {
        // Used to convey complex list items such as library search results
        $meta-info-font-size: 0.8em;
        min-height: 46px;
        border-bottom: 2px solid $border-color;
        color: rgba(40, 40, 40, 0.8);
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
        .highlighted {
            background-color: red;
        }
        p {
            margin-bottom: 0px;
        }
        > label, > a, > h3, > p {
            padding: 10px 8px;
        }
        > label, > a {
            display: block;
            margin: 0;
            height: 100%;
            color: rgba(40, 40, 40, 0.8);
        }

        // Used on list items to show the count in the proceeding category/group
        .subtext {
            display: block;
            margin: 0;
            font-size: 0.9em;
        }
        .meta-info {
            margin: 3px 0 0 5px;
            padding: 0;
            font-weight: 200;
            font-size: $meta-info-font-size;
            line-height: $meta-info-font-size + convert-to-em(5px);
        }

        .meta-info-title {
            font-weight: 800;
            font-size: inherit;

        }
        & * {
            font-family: Helvetica, Verdana, sans-serif;
        }

        h3 {
            margin: 0;
            padding: 0;
            color: #444;
            font-weight: normal;
            font-size: 1.2em;
        }

    }
}
