<div class="content-main">
    <div class="content-map"></div>
    <div class="content-detail-wrapper">
    </div>
</div>
<div class="content-browse-wrapper">
    <div class="btn-toggle-browse">
        <span class="fa fa-bars"></span>
    </div>
    <div class="content-browse"></div>
    <div class="additional-toggles">
        <ul>
            <li class="btn-toggle-public-transport"></li>
            <li class="btn-toggle-driving"></li>
            <li class="btn-toggle-cycling"></li>
        </ul>
    </div>
    <div class="btn-toggle-location">
        <span class="fa fa-location-arrow"></span>
    </div>
</div>
